// (1.02) variables

// inter, poppins and montserrat google font source
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  // font family
  --inter: "Inter", sans-serif;
  --mont: "Montserrat", sans-serif;
  --poppins: "Poppins", sans-serif;

  // theme default
  --theme-font: var(--inter);
  --theme-bg: #030015;
  --theme-color: #ffffff90;

  // colors
  --white: #ffffff;
  --black: #000000;
  --primary-color: #65ff4b;
  --secondary-color: #40cc28;
  --tertiary-color: #120f23;
  --quaternary-color: #191b1a;
  --quinary-color: #b1b0b6;

  // transitions
  --transition: all 0.3s ease-in-out;

  // box shadow
  --shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  --shadow-secondary: 0 0 31px rgba(0, 0, 0, 0.1);
}
